
:root{
    --primary-color:#0E3E9B;
    --color-hover:rgb(223, 99, 99);
    --font-color:#fff;
    --color-buttons:rgb(22, 212, 171);
    --menu-height:5em;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--font-color);
}

*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Open Sans';
    color:var(--font-color);
    background-color: var(--primary-color);
    font-size: 16px;
}

nav{
    width: 100%;
    max-width: 800px;
    height: 10vh;
    margin:0 auto;
}

nav #container-nav{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    height: 10vh;
    margin:0 auto;
}

nav #container-nav a:hover{
    color:var(--color-hover);
}

#showcase{
    background-image: url(../img/pista.jpeg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#showcase::after{
    content: '';
    position: absolute;
    top:10vh;
    left: 0px;
    height: 80vh;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}

#showcase h1{
    z-index: 2;
}

#showcase p{
    z-index: 2;
}

#showcase .links{
    padding: 20px 0px;
    z-index: 2;
}

#showcase a{
    font-size: 1.4em;
    background-color: var(--primary-color);
    border: 1.5px solid var(--font-color);
    padding:10px;
    border-radius: 10px;
}

#showcase a:hover{
    color:var(--color-hover);
    border:1.5px solid var(--color-hover);
}

footer .container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10px;
}

footer .tabs{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}

footer .tab:hover{
    color:var(--color-hover);
    cursor: pointer;
}

form{
    z-index: 2;
}

#showcase #galeria{
    z-index: 2;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    
}

#showcase #galeria img{
    width: 30%;
    margin:0.6%;
}





